<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Security.WSTrustServiceContract" 
               behaviorConfiguration="stsBehavior">
        <endpoint address="" 
                  binding="ws2007HttpBinding" 
                  bindingConfiguration="ws2007HttpBindingConfiguration"  
                  contract="System.ServiceModel.Security.IWSTrust13SyncContract"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="stsBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate findValue="CN=SecureTokenServiceTest" 
                                storeLocation="LocalMachine" 
                                storeName="Root" 
                                x509FindType="FindBySubjectDistinguishedName" />
            <issuedTokenAuthentication certificateValidationMode="PeerOrChainTrust" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>

      <ws2007HttpBinding>
        <binding name="ws2007HttpBindingConfiguration">
          <security mode="Message">
            <message clientCredentialType="UserName" 
                     establishSecurityContext="false" 
                     negotiateServiceCredential="true" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

  </system.serviceModel>
  
</configuration>